header.pc_dom {
    width: 100%;
    min-height: 100px;
    background-image: url("../images/header_bg.png");
    .header {
        min-height: 100px;
        min-width: 1024px;
        padding: 0 100px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        .row_center {
            display: -webkit-flex;
            display: flex;
            align-items: center;
            .header_logo {}
            .header_nav {
                .hn_ul {
                    height: 68px;
                    margin: 30px 0 0;
                    line-height: 68px;
                    .tabLi {
                        border-bottom: 2px solid #fff;
                    }
                    li {
                        float: left;
                        margin: 0 30px;
                        a {
                            color: #fff;
                        }
                    }
                    @media all and (max-width:1024px) {
                        li {
                            margin: 0 19px;
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .header_help {
                .help_top {
                    .hp_ul {
                        li {
                            float: right;
                            padding: 0 15px 15px;
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
                .help_bottom {
                    .shopCar {
                        position: relative;
                        float: right;
                        .carNumber {
                            width: 35px;
                            height: 23px;
                            position: absolute;
                            top: -11px;
                            right: -17px;
                            background-color: #ff7a7a;
                            color: #fff;
                            text-align: center;
                            line-height: 23px;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                        }
                    }
                    .v_search {
                        float: right;
                        margin-right: 20px;
                        .in_con {
                            width: 365px;
                            padding: 2px;
                            background: #fff;
                            height: 36px;
                            -webkit-border-radius: 3px;
                            -moz-border-radius: 3px;
                            border-radius: 3px;
                            .search_input {
                                outline: none;
                                width: 280px;
                                height: 32px;
                                line-height: 32px;
                                vertical-align: middle;
                                border: none;
                                background: #fff;
                                padding-left: 5px;
                                float: left;
                            }
                            .search_b {
                                width: 80px;
                                height: 32px;
                                border: none;
                                float: left;
                                color: #fff;
                                font-size: 15px;
                                background: #37a3b9;
                            }
                        }
                        @media all and (max-width:1024px) {
                            & {
                                margin-right: 20px;
                                .in_con {
                                    width: 190px;
                                    .search_input {
                                        width: 125px;
                                    }
                                    .search_b {
                                        width: 60px;
                                    }
                                }
                            }
                        }
                        @media (min-width: 1025px) and (max-width: 1366px) {
                            & {
                                margin-right: 20px;
                                .in_con {
                                    width: 310px;
                                    .search_input {
                                        width: 245px;
                                    }
                                    .search_b {
                                        width: 60px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// phone head style start
.phone_dom {
    display: none;
}
@media all and (max-width:640px) {
    .pc_dom {
        display: none;
    }
    .phone_dom {
        display: block;
        width: 100%;
        height: 1.95rem;
        background-image: url("../images/head_phone_bg.png");
        .p_head {
            height: 1.2rem;
            display: -webkit-flex;
            display: flex;
            text-align: center;
            line-height: 1.2rem;
            .p_logo {
                flex: 2;
            }
            .p_help {
                flex: 3;
                .p_hp_ul {
                    li {
                        float: right;
                        margin: 0 0.1rem;
                        a {
                            color: #fff;
                        }
                        &:first-child {
                            margin-right: 0.2rem;
                        }
                    }
                }
            }
        }
        .p_nav {
            height: 0.75rem;
            .p_ul {
                height: 0.75rem;
                display: -webkit-flex;
                display: flex;
                text-align: center;
                line-height: 0.75rem;
                .p_ul_li_active {
                    border-bottom: 5px solid #fff;
                }
                li {
                    flex: 1;
                    a {
                        color: #fff;
                    }
                    &:last-child {
                        a:nth-child(2) {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}
// phone head style end
//注册pc的模态框
.modal {
    .modal-backdrop {
        background-color: #FFFF00;
        opacity: 0;
        filter:alpha(opacity=0);
    }
    .modal-dialog {
        margin-top: 180px;
        .modal-content {
            border: 7px solid #d4eef4;
            .modal-header {
                height: 100px;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                background: url("../images/modal_head_bg.png") no-repeat;
                background-size: cover;
            }
            .modal-body {
                margin-top: 30px;
                .center {
                    float: none;
                    margin: 0 auto;
                }
                .Third_party_login {
                    img {
                        width: 100%;
                    }
                }
                .Third_party_login_logo {
                    img {
                        width: 25%;
                    }
                    img:last-child {
                        float: right;
                    }
                }
            }
        }
    }
    .modal-footer,
    .modal-header {
        border: none;
        text-align: center;
    }
}
//content style start
.content {
    .p_register {
        height: 1rem;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("../images/modal_head_bg.png") no-repeat;
        background-size: cover;
    }
    .nav-tabs {
        border-bottom: none;
        margin-top: 0.1rem;
        li {
            float: right;
            margin-bottom: 0;
            a {
                border: none !important;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                color: #606060;
                &:focus,
                &:hover {
                    border: none !important;
                    color: #606060 !important;
                    background-color: #fff !important;
                }
                &:nth-child(1) {
                    padding: 0 10px;
                }
            }
        }
        li.active a {
            color: #28aac5 !important;
            background-color: #fff !important;
        }
    }
}
//content style end
footer {
    width: 100%;
    height: 110px;
    color: #fff;
    background-color: #000;
    margin: 0 auto;
    p:nth-child(1) {
        margin-top: 30px;
    }
}
@media all and (max-width:768px) {
    footer {
        height: 80px;
    }
}
// phone footer style start
@media all and (max-width:640px) {
    footer {
        height: 2rem;
        p {
            padding: 0 0.25rem;
        }
    }
}
// phone footer style end
